<div class="container">
    <h1>Svi računi</h1>
  
    <!-- Pagination Controls -->
    
  
    <!-- Receipts Table -->
    <table class="receipts-table">
      <thead>
        <tr>
          <th>Broj računa</th>
          <th>Datum i vreme fiskalizacije</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receipt of receipts">
          <td>{{ receipt.id }}</td>
          <td>{{ receipt.createdAt}}</td>
          <!-- Add more columns as needed -->
        </tr>
      </tbody>
    </table>

    <div class="pagination">
        <button (click)="prevPage()">Previous</button>
        <span>Page {{ currentPage }}</span>
        <button (click)="nextPage()">Next</button>
      </div>
  </div>
  