<div class="container">
    <h1>Pregled računa</h1>
  
    <div>
      <p><strong>Broj gotovinskog računa:</strong> {{ receiptId }}</p>
      <p><strong>Vreme fiskalizacije:</strong> {{ createdAt }}</p>
    </div>
  
    <h2>Artikli</h2>
    <table class="items-table">
      <thead>
        <tr>
          <th>Šifra</th>
          <th>Naziv</th>
          <th>Cena</th>
          <th>Količina</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.sif }}</td>
          <td>{{ item.naz }}</td>
          <td>{{ item.cena }}</td>
          <td>{{ item.kolicina }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  