<div class="container">
    <mat-card class="mat-elevation-z3">
        <h1>Meni</h1>
        <div class="layout">
            <a mat-list-item routerLink="/createRequisition" class="mat-button">Kreiraj trebovanje</a>
            <a mat-list-item routerLink="/updatePrice" class="mat-button">Nivelacija cene proizvoda</a>
            <a mat-list-item routerLink="/priceStats" class="mat-button">Statistika cena</a>
            <a mat-list-item routerLink="/allRequisitions" class="mat-button">Pregledaj trebovanja</a>
            <a mat-list-item routerLink="/allAcquisitions" class="mat-button">Pregledaj fakture</a>
            <a mat-list-item routerLink="/createCalculation" class="mat-button">Kalkulacije</a>
            <a mat-list-item routerLink="/login" class="mat-button" (click)="logout()">Izloguj se</a>
        </div>
    </mat-card>
</div>
