<div class="page-container">
    <div class="search-container">
        <mat-form-field>
            <input matInput placeholder="Pretrazi artikle..." [(ngModel)]="query" (keyup)="searchProducts()">
          </mat-form-field>
          <div class="searched-products">
          <div class="column-headers">
            <span class="column-header">Naziv</span>
            <span class="column-header">Cena</span>
            <span class="column-header">Barkod</span>
            <span class="column-header">Količina</span>
            <span class="column-header">Šifra</span>
          </div>
      <div *ngFor="let product of searchedProducts" class="product-item" (click)="addProductToReceipt(product)">
        <span class="product-name">{{ product.naz }}</span>
        <span class="product-price">{{ product.cena }}</span>
        <span class="product-barcode">{{ product.bc }}</span>
        <span class="product-quantity">{{ product.kolicina}}</span>
        <span class="product-id">{{ product.sif }}</span>
      </div>
    </div>
    </div>
  
    <div class="receipt-container">
      <!-- Receipt content -->
      <h2>Račun</h2>
      <div *ngFor="let item of receiptItems; let i = index" class="receipt-item">
        <span>{{ item.naz }} - {{ item.cena }}</span>
        <input type="number" [(ngModel)]="item.kolicina" (change)="updateReceiptTotal()">
        <button class="remove-item-button" (click)="removeItemFromReceipt(i)">✕</button>
      </div>
      <div class="receipt-total">
        Suma: {{ receiptTotal }}
      </div>
      <div class="ein-input-container">
        <label for="ein-input">PIB:</label>
        <input type="number" id="ein-input" [(ngModel)]="pib" name="ein-input">
      </div>
      <button mat-button class="create-receipt-button" (click)="createReceipt()"> <span class="icon" [@moveIcon]="iconState"  (@moveIcon.done)="resetIconState()" *ngIf="!isAnimationInProgress">🧾</span> Fiskalizuj račun</button>
    </div>



    <mat-toolbar class="bottom-navbar">
        <button mat-button routerLink="/logout" (click)="logout()">Izloguj se</button>
        <button mat-button routerLink="/allReceipts">
            Svi računi
          </button>
        <button mat-button routerLink="/allInvoices">Svi gotovinski računi</button>
        <!-- Add more buttons for other navigation options -->
      </mat-toolbar>
  </div>





